.topArea {
    display: block;
    width: 100%;
    height: 10%;
    background-color: #f00; 
}
.clickArea {
    display: block;
    align-self: center;
    width: 50%;
    height: 50%;
    background-color: blue;
    position: absolute;
    right: 25%;
}
.coins {
    display: block;
    align-self: center;
    width: 50%;
    height: 50%;
    background-color:purple;
    right: 25%;
}
.boosts{
    width: 100%;
    display: block;
}